---
title: "Etusivu"
layout: splash
type: pages
excerpt: "Linkistä alla metsästysalueiden kartalle:"
sitemap: true

header:
  overlay_image: Maisema_banner.png
  caption: "Photo: Timo Hoo"
  cta_label: "Kartat"
  cta_url: "https://goo.gl/oPVS4Y"
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
